<!DOCTYPE html>
<html>
  <head>
    <title>Flckr</title>
    <link rel="icon" href="https://s.yimg.com/pw/favicon.ico">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Proxima+Nova" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
